body {
  margin: 0;
}
h1 {
  text-align: center;
  margin-top: 200px;
}
h1, h2 {
  font-family: sans-serif;
}
.meta {
  font-family: sans-serif;
  font-size: 11px;
  text-align: center;
}
.section {
  margin: 50px 0;
}
.section-description {
  width: 100%;
  padding: 10px;
  max-width: 700px;
  margin: auto;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 60px;
  font-size: 30px;
  box-sizing: border-box;
}
.section-first .section-description {
  padding-top: 40px;
}
.button-group {
  max-width: 300px;
  margin: 2em auto;
  text-align: center;
}
.button-group.six-hours #six-hours,
.button-group.eight-hours #eight-hours,
.button-group.twelve-hours #twelve-hours,
.button-group.sixteen-hours #sixteen-hours {
  background-color: black;
  color: white;
}
.button-instructions {
  font-size: 13px;
  font-family: system-ui, sans-serif;
}
.open-time {
  padding: 0 5px;
}
.open-time.green {
  background-color: #7BAE7F;
}
.open-time.orange {
  background-color: orange;
}
.open-time.violet {
  background-color: violet;
}
.open-time.red {
  background-color: violet;
}
.open-time.blue {
  background-color: blue;
  color: white;
}
.open-time-explainer {
  text-align: center;
  font-family: system-ui, sans-serif;
  margin-bottom: 10px;
}
@media (max-width: 768px) {
 .section-description {
   font-size: 18px;
 }
}
.people-outer {
  background-image: url(img/person.svg?1);
  width: 300px;
  height: 480px;
  margin: auto;
  background-size: 20px 40px;
}
.past {
  background-image: url(img/green-person.svg);
  width: 100%;
  height: 0px;
  background-size: 20px 40px;
}
.progress {
  background-image: url(img/green-person.svg);
  width: 0px;
  height: 40px;
  background-size: 20px 40px;
}
.red .past,
.red .progress {
  background-image: url(img/red-person.svg);
}
.violet .past,
.violet .progress {
  background-image: url(img/violet-person.svg);
}
.orange .past,
.orange .progress {
  background-image: url(img/orange-person.svg);
}
.turquoise .past,
.turquoise .progress {
  background-image: url(img/turquoise-person.svg);
}
.green .past,
.green .progress {
  background-image: url(img/green-person.svg);
}
.dark-green .past,
.dark-green .progress {
  background-image: url(img/dark-green-person.svg);
}
.blue .past,
.blue .progress {
  background-image: url(img/blue-person.svg);
}
.mini-month {
  text-align: center;
}
.mini-month .people-outer {
  height: 40px;
}
.mini-month {
  max-width: 300px;
  margin: auto;
}
.month-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.massive {
  margin-bottom: 100px;
}
#zoom {
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
}
#zoom button {
  font-size: 30px;
}
#total-doses-wrapper {
  width: 802px;
  max-width: 95%;
  margin: auto;
  overflow: scroll;
}
#total-doses {
  width: 800px;
  height: 625px;
  font-family: sans-serif;
  border: 1px dashed grey;
  margin: auto;
  display: flex;
  transition: transform 2s;
}
#zoomout {
  display: none;
}
#total-doses.zoomed {
  transform-origin: top left;
}
#doses-given {
  text-align: center;
  background-color: #94d7ae;
}
.doses-explainer {
  margin-top: 5px;
  font-size: 11px;
}
#doses-needed {
  flex-grow: 1;
  background-color: #e6e6e6;
  position: relative;
  text-align: center;
}
#scroll-indicator {
  display: none;
}
@media (max-width: 768px) {
  #doses-needed {
    text-align: left;
    padding-left: 10px;
  }
  #scroll-indicator {
    display: inline;
    position: absolute;
    top: 60%;
    color: grey;
  }
}
#doses-needed,
#doses-given {
  height: 625px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#next-pixel {
  font-size: 8px;
  transform: scale(.25, .25);
  transform-origin: top left;
  position: absolute;
  left: 4px;
  width: 80px;
  margin-top: 2px;
  text-align: left;
}
.pixels {
  position: absolute;
  top: 0;
  left: 0;
}
.pixel {
  width: 1px;
  height: 1px;
  background-color: #94d7ae;
}
.mini-month .past {
  line-height: 8;
  font-size: 12px;
  font-family: sans-serif;
}
.short {
  height: 160px;
}
.subsection-wrapper {
  display: flex;
  justify-content: center;
}
.subsection {
  width: 300px;
  margin: 0 30px;
}
.sources {
  text-align: left;
}
@media (max-width: 660px) {
  .subsection-wrapper {
    display: block;
  }
  .subsection {
    margin: auto;
    margin-bottom: 50px;
  }
}
@media (max-width: 1280px) {
  .mini-month {
    width: 40%;
    max-width: 50%;
    margin: 0;
    margin-bottom: 4em;
  }
  .month-wrapper {
    max-width: 960px;
    margin: auto;
    justify-content: center;
  }
}
@media (max-width: 960px) {
 .month-wrapper {
   display: block;
 }
 .mini-month {
   margin-top: 160px;
   width: 100%;
   max-width: 100%;
 }
 .mini-month.first {
   margin-top: 40px;
 }
}
